blinker            
boto3              
botocore           
click              
colorama           
Flask
SQLAlchemy 
psycopg2-binary 
Flask-Bcrypt 
Flask-JWT-Extended              
importlib_metadata 
itsdangerous       
Jinja2             
jmespath           
MarkupSafe         
numpy              
pandas             
pip                
pyodbc            
python-dateutil    
pytz               
s3transfer         
setuptools         
six                
tzdata            
urllib3            
Werkzeug           
wheel              
zipp    
openpyxl
flask-cors 
mysql-connector-python          
python-dotenv
XlsxWriter
pandasql
typing-extensions
greenlet
sqlalchemy
flask-sqlalchemy
requests
openai
